@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic);

  body{
    background: #FFFFFF;        
    font-family: 'Noto Sans', sans-serif;
}

footer{
  position:fixed;
  bottom:0px;
  width:100%;
  padding-top: 15px;
}

.uk-pagination>.uk-active>span{
   background: rgb(15, 118, 44)!important; 
}


.uk-grid-divider.blank{
  border:none !important;  
  color: #fff;
}

.uk-nav-side>li.uk-active>a{
  background: rgb(15, 118, 44);
}

.uk-button-coop {   
   background: rgb(15, 118, 44); 
   color: #FFFFFF;
}

.uk-button-invert {   
   background: #666; 
   color: #FFFFFF;
}

.uk-button-warning {   
   background: #e28327; 
   color: #FFFFFF;
}
.uk-button-warning:hover,
.uk-button-warning:focus {
  background: #F2973C; 
  color: #ffffff;
}

.uk-button-invert:hover,
.uk-button-invert:focus {
  background: #999999; 
  color: #ffffff;
}

.uk-button-coop:hover,
.uk-button-coop:focus {
  background: rgb(15, 145, 54); 
  color: #ffffff;
}

/* Active */
.uk-button-warning:active,
.uk-button-warning.uk-active {
  background: #F2973C; 
  color: #ffffff;
}

.uk-button-invert:active,
.uk-button-invert.uk-active {
  background: #999999; 
  color: #ffffff;
}

/* Active */
.uk-button-coop:active,
.uk-button-coop.uk-active {
  background: rgb(15, 118, 44); 
  color: #ffffff;
}

#login-container {    
    width: 450px;
    line-height: 1;
    height: auto;
    font-size: 100%;
    font-weight: normal;
    margin: 5% auto 0;
    background-color: #FFF;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

.form-action ul{
    list-style-type: none;
    margin-left: -25px;
}

.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 38px;
  padding-bottom: 10px;
}
.form-action p {
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 25px;
}



::-webkit-input-placeholder {
  color: #e74c3c;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #e74c3c;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #e74c3c;
}
:-ms-input-placeholder {
  color: #e74c3c;
}


form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=email],
form input[type=password],
form button,
form input[type=submit] {
      font-family: 'Noto Sans', sans-serif;
}

#login-container form input[type=text],
#login-container form input[type=email],
#login-container form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #F2F2F2;
  border: none;
  color: #000000;
  outline: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}

::-webkit-input-placeholder {
  color: #333;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}

#login-header {     
    color: #FFFFFF;
    font-size: 200%;    
    font-weight: bold;
    text-align: center;
    text-transform:uppercase;
    padding: 10px 0px 10px 0px;  
    background: #E6E6E6;     
}

#login-content {
    padding: 5px 19px 10px 15px;
    background-color: #FFF;   
}
#login-container h1{
    text-align: center;
}

@media ( max-width : 480px) {
    #login-container {
        width: 90%;
        font-size: 75%;  
    }
    .form-action p.notice{
        display: none;
    }
    .form-action h1{
        font-size: 160%;  
    }
    
    #login-container .tabs{     
      height: 40px;     
    }

    #login-container .tabs a {
      font-size: 97%;  
      padding: 14px 10px 15px 11px;
    }

    .top-menu{
        width: 0px;
    }

    a.pure-menu-heading{
    width: 100%;
    text-align: center;

    padding: 9px 25px 9px 5px !important;
    }
    .uk-pagination>.uk-alert-success{
      display:none; 
    }

    .uk-pagination{
      font-size: 80%; 
    }

    .uk-pagination>.uk-item-n{
      display:none; 
    }

    .uk-table{
      font-size: 90%; 
    }
    
    
}

a.pure-menu-heading.inter{
    background: rgb(8, 138, 8) !important;
    color: #FFF;
    padding: 9px 25px 9px 25px;
}

.top-menu{
    float: right;
}



/******************************************/
